<div class="style1">
  <form>
    <label for="fname">ID</label>
    <input type="text" id="style2" name = "title"[(ngModel)]="id" placeholder="Your ID.."><br>

    <label for="lname">Name</label>
    <input type="text" id="style2" name = "title"[(ngModel)]="name" placeholder="Your name.."><br>

    <label for="country">Salary</label>
    <input type="text" id="style2" name = "title"[(ngModel)]="sal" placeholder="Your salary.."><br>

    <label for="country">Department</label>
    <input type="text" id="style2" name = "title"[(ngModel)]="dept" placeholder="Your department.."><br>


    <input type="button" (click)="onAddEmp()"class="style3" value="Add Employee">
  </form>
</div>
